<section id="loginsection">
<div id id="titleandlogo">
  <h1 id="title">Nasa Daily</h1>
  <img src="https://mystickermania.com/cdn/stickers/cute-cats/sticker_3215-512x512.png" alt="" id="spacecat">

</div>


    <div class="container  ">


      <div class="container py-5 h-100 row d-flex justify-content-center align-items-center h-100">

        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-5 mt-md-4 pb-5">
  
                <h2 class="fw-bold mb-2 text-uppercase">Welcome back!</h2>
                <p class="text-white-50 mb-5">Please enter your login and password!</p>
  
                <form action="/login" method="GET">
                <div class="form-outline form-white mb-4" id="email">
                  <input type="email" id="usernameemail" class="form-control form-control-lg"  name="loginemail"/>
                  <label class="form-label" for="usernameemail">Email</label>
                </div>
  
                <div class="form-outline form-white mb-4" id="password">
                  <input type="password" id="loginpassword" class="form-control form-control-lg" name="loginpassword" />
                  <label class="form-label" for="loginpassword">Password</label>
                </div>
  
                <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p>
  
                <button id="login" class="btn btn-outline-light btn-lg px-5" type="submit">Login</button >
  
           
                </div>

  
            </form>

            <a href="google" class="btn btn-light" style="margin-bottom: 80px;">
              <img src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" alt="Google Logo" style="float:left;width:20px;height:20px;margin-top: 2px;">
              <span class="fa fa-google"></span>  &nbsp; Sign In with Google
            </a>
            
            

                
                <p class="mb-0">Don't have an account? <a id="signup-link" href="#!" class="text-white-50 fw-bold">Create an account here </a>

                
            </p>
              </div>
  
            </div>
          </div>
        </div>
      </div>


    </div>
    

    <script>
    $(document).ready(function() {
      $('#signup-link').click(function(e) {
        e.preventDefault();
        $.get('/partials/signup.ejs', function(data) {
          $('#partial-container').html(data);
        }).done(function() {
          $('#partial-container').siblings().remove();
        });
      });
    });


 



      </script>


<% if (errorMessage) { %>
  <div class="modal fade" id="errorModal" tabapp="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="errorModalLabel">Error</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="white-space: pre-line;">
        <%= errorMessage %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    $('#errorModal').modal('show');
  });
</script>
<% } %>


<% if (successMessage) { %>
  <div class="modal fade" id="successModal" tabapp="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="sucessModalLabel">Success</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= successMessage %>
      </div>

    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    $('#successModal').modal('show');
  });
</script>
<% } %>

</section>
